.TransactionTransactionInfoComponent {
  padding: 20px 50px;
  background: white;
  box-shadow: 0px 5px 5px rgb(0 0 0 / 50%);
  margin: 36px;
  margin-top: 35px;
  border-radius: 20px;
  font-family: Montserrat;
}

.smartFields {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 16px;
  width: 100%;
  row-gap: 8px;
  max-width: 920px;
  flex-wrap: wrap;
  margin-top: 24px;
  margin-bottom: 24px;
}

.span2 {
  grid-column: span 2;
}

.spanAll {
  grid-column: 1 / -1;
}

.smartFields .smartField {
  display: flex;
  min-width: 165px;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 8px 16px 0;
  text-align: left;
}

.smartField .smartFieldLabel {
  font-size: 18px;
  color: #828282;
  font-weight: 600;
}

.smartField .smartFieldValue {
  font-size: 22px;
  font-weight: 500;
  font-family: "Montserrat";
  color: #333333;
}

.smartTable {
  margin-top: 24px;
  flex: 1;
  font-size: 18px;
  border-collapse: collapse;
  width: 100%;
  /* margin-top: -50px; */
}

.smartTable .smartTableHeader {
  margin: 18px;
  text-align: left;
}

.smartTableHeader.smartTableHeaderWithColor tr th {
  background: #001f71;
  color: white;
}

.smartTableHeader div {
  font-weight: bolder;
}

.smartTable .smartTableBody {
  text-align: left;
}

.smartTableBody tr td {
  padding: 8px 4px;
}

.TransactionTransactionInfoComponentTitle {
  color: #001f71;
  font-size: 22px;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}