.CollectionReportAllTransComponent {
  display: grid;
  grid-template-columns: 1fr;
  padding: 20px 50px;
  background: white;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
  margin: 36px;
  margin-top: 35px;
  border-radius: 20px;
  font-family: Montserrat;
}

.CollectionReportAllTransComponent > h2 {
  margin-left: 0px;
}

.CollectionReportAllTransComponentRow {
  display: grid;
  grid-template-columns: 200px 1fr;
  border-bottom: 1px solid rgba(0, 0, 0, 0.301);
  align-items: center;
}

.CollectionReportAllTransComponentRow:last-child {
  border-bottom: 0px solid rgba(0, 0, 0, 0.164);
}

.CollectionReportAllTransComponentRow h4 {
  font-weight: bold;
  margin: 24px;
  margin-left: 0;
}

.CollectionReportAllTransComponentRow p {
  margin: 24px;
  margin-left: 0;
}

.withTwoColumn {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.withTwoColumn > div {
  display: grid;
  grid-template-columns: 200px 1fr;
  align-items: center;
}
.CollectionReportAllTransComponentRow input {
  height: 30px;
  border-radius: 10px;
  border: 2px solid rgba(0, 0, 0, 0.267);
  width: 200px;
  padding-left: 8px;
}

.CollectionReportAllTransComponentRow > div > div {
  position: relative;
}

.CollectionReportAllTransComponentRow > div > div > img {
  position: absolute;
  left: 183px;
  top: 6px;
  cursor: pointer;
  width: 20px;
}

.withLineInput > div > span {
  padding-left: 20px;
  margin-right: 20px;
}

.withLineInput > div > input {
  border: none;
  border-radius: 0;
  width: 150px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.712);
}

.withButtons {
  justify-self: end;
  align-self: center;
  margin-top: 20px;
}

.withButtons button,
.printBtn {
  background: #001f71;
  color: white;
  padding: 16px 50px;
  text-align: center;
  justify-self: center;
  border-radius: 50px;
  font-weight: bold;
  margin: 0px;
}

.flex {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.flex > button {
  color: #001f71;
  font-weight: 600;
  border-bottom: 5px solid transparent;
  height: 100%;
}

.flex .active {
  border-bottom: 5px solid #001f71;
}

/* /////Table */
.transactionDetailsContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 20px 50px;
  border-radius: 20px;
  border: none;
  background-color: white;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
  font-family: Montserrat;
  margin-top: 25px;
  margin: 36px;
  margin-top: 35px;
  border-radius: 20px;
}

.transactionDetailsHeader {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.smartTableTitle {
  color: #001f71;
  font-size: 22px;
}

.smartTable {
  margin-top: 1px;
  border-collapse: collapse;
  flex: 1;
}

.smartTable .smartTableHeader {
  margin: 16px;
  text-align: left;
}

.smartTableHeader div {
  font-weight: bolder;
}

.smartTable .smartTableBody {
  text-align: left;
  font-size: 18px;
}

.smartTableBody tr td {
  padding: 8px 4px;
}

.smartTableHeader.smartTableHeaderWithColor tr th {
  background: #001f71;
  color: white;
}

.noPadding {
  padding: 0 !important;
}

.btnContainer2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.printBtnExcel {
  background: #07723a;
  color: white;
  padding: 16px 50px;
  text-align: center;
  justify-self: center;
  border-radius: 50px;
  font-weight: bold;
  margin: 0px;
}

.ListPartiFilter {
  display: flex;
  align-items: center;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 25px;
}

.ListPartiFilter > select {
  padding: 5px 20px;
  font-size: 1.2rem;
  margin-right: 16px;
  border-radius: 5px;
}

.radioContainer {
  display: flex;
  padding: 0 24px;
  margin: 50px 82px 0px;
}

.radioGroup {
  margin-right: 24px;
}

.cashierDropdown > select {
  height: 30px;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.267);
    width: 211px;
    padding-left: 8px;
}